/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* General styling starts here */

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap: 100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/* body  styling*/

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* headings styling */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  color: #fff;
}

/* line divider styling */

hr {
  width: 80%;
  height: 1px;
  background-color: #fff;
  border: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* btton styling */

.btn {
  background-color: rgba(0, 98, 204, 1);
  color: #fff;
  border-color: #fff;
  font-weight: bold;
  border-radius: 10px;
}

.btn:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

/* navbar styling */

.bg-dark {
  background-color: #053850 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 98, 204)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand {
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

/* Footer styling */

.footer-section {
  background-color: #053850;
  color: #fff;
  padding-top: 15px;
  text-align: center;
}

.footer-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.footer-nav-item {
  list-style: none;
  margin-left: 15px;
}

.footer-nav-link {
  text-decoration: none;
  color: #fff;
}

.footer-nav-link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.863);
}
.copyright {
  font-style: italic;
  font-size: smaller;
  margin: 0;
}

/* index.html specific styling starts here */

/* Hero image stylig ispired by "https://codetheweb.blog/2017/12/07/fullscreen-image-hero" */
.hero {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/Ms1Hero.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../images/Ms1Hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/Ms1Hero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.hero h1 {
  font-size: 5em;
}

/* Reviews styling */

.reviews-wrapper {
  background-color: #fff;
  text-align: center;
  color: black;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
}

.reviews h2 {
  padding-bottom: 0;
  color: black;
}

.reviews hr {
  background-color: black;
}

/* services.html specific styling starts here */

.services-section {
  background-color: #fff;
  text-align: center;
}

.services {
  padding-top: 5px;
  padding-bottom: 5px;
}

.service {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  margin-bottom: 40px;
  padding: 10px;
}

.services h2 {
  padding-bottom: 0;
  color: black;
  text-shadow: 2px 2px 1px rgb(185, 167, 168);
  padding-top: 15px;
}

.services hr {
  background-color: black;
}

.service h3 {
  color: black;
}
.service p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.service-lists a {
  text-decoration: none;
  color: greenyellow;
}

.service-lists a:hover {
  color: #fff;
}

img {
  vertical-align: middle;
  border-style: none;
}

/* pricing.html specific styling starts here */

.pricing-section {
  background-color: #fff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pricing-section h2 {
  padding-bottom: 0;
  padding-top: 15px;
  color: black;
  text-shadow: 2px 2px 1px rgb(185, 167, 168);
}

.pricing-section hr {
    background-color: black;
}

.card-title {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px gray inset;
}

.card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  margin-bottom: 40px;
  padding: 10px;
}

.item-price {
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* contact.html specific styling starts here */

.contact {
  text-align: center;
  padding-top: 5px;
  height: 100vh;
  background-color: #fff;
   -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
}

.contact-heading {
  color: black;
  text-align: center;
  padding-top: 15px;
  text-shadow: 2px 2px 1px rgb(185, 167, 168);
}

.contact button {
  margin-top: 15px;
}

.contact hr {
    background-color: black;
    margin-top: 0;

}

.contact form {
    padding-top: 15px;
       -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
}

/* about.html specific styling starts here */

.about-section {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  height: 100vh;
  background-color: #fff;
   -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
}


.about-section h2 {
  padding-bottom: 0;
  color: black;
  padding-top: 15px;
  text-shadow: 2px 2px 1px rgb(185, 167, 168);
}

.about hr {
  background-color: black;
}
