/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* General styling starts here */

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap: 100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");

/* body  styling*/

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* headings styling */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  color: #fff;
}

.section-heading {
  padding-top: 15px;
  color: black;
  text-shadow: 2px 2px 1px rgb(185, 167, 168);
}

/* line divider styling */

hr {
  width: 80%;
  height: 1px;
  background-color: black;
  border: 0;
  margin-top: 5px;
  margin-bottom: 30px;
}

/* btton styling */

.btn {
  background-color: rgb(78, 54, 57);
  color: #fff;
  border-color: #fff;
  font-weight: bold;
  border-radius: 10px;
}

.btn:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

/* navbar styling */

.bg-dark {
  background-color: #053850 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 98, 204)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand {
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-shadow: 2px 2px 1px rgb(185, 167, 168);
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
}

.nav-btn {
    margin-right: 15px;
}

/* Footer styling */

.footer-section {
  background-color: #053850;
  color: #fff;
  padding-top: 15px;
  text-align: center;
}

.footer-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.footer-nav-item {
  list-style: none;
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.footer-nav-link {
  text-decoration: none;
  color: #fff;
}

.footer hr {
  background-color: #fff;
}

.footer-nav-link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.863);
}
.copyright {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 15px;
}

.warning {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 15px;
}

/* index.html specific styling starts here */


/* hero styling below inspired by https://codetheweb.blog/2017/12/07/fullscreen-image-hero/ */

.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero-min.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.callout p {
  margin-top: 15px;
  color: #fff;
  text-shadow: 2px 2px 3px black;
 
}

.callout-heading {
  font-size: 2rem;
  text-shadow: 2px 2px 1px rgb(185, 167, 168);
  
}

.callout-hr {
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.callout-btn {
  width: 160px;
  font-weight: bold;
  margin-top: 15px;
}


.jumbotron {
    background-color: transparent;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 20px;
}


/* Reviews styling */

.reviews {
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
}


/* services.html specific styling starts here */

.services-section {
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
}

.service {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  margin-bottom: 40px;
  padding: 10px;
}

.service-heading {
  color: black;
  padding-bottom: 15px;
  padding-top: 15px;
}

.service p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.service-lists a {
  text-decoration: none;
  color: greenyellow;
}

.service-lists a:hover {
  color: #fff;
}

img {
  vertical-align: middle;
  border-style: none;
}


/* pricing.html specific styling starts here */

.pricing-section {
  background-color: #fff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
}

.price-btn {
  width: 160px;
}

/* Inspired by Bootstrap cards  */
.card-title {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px gray inset;
}

.card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  margin-bottom: 40px;
  padding: 10px;
}

.item-price {
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}


/* contact.html specific styling starts here */

.contact {
  text-align: center;
  padding-top: 5px;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
}

.contact button {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 160px;
}

.contact form {
  padding-top: 15px;
  -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
}


/* about.html specific styling starts here */

.about-section {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
  box-shadow: 0 5px 5px 2px rgb(185, 167, 168) inset;
}

